<html>
<body>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, world! The time on the server is</p>
    @{
    <p>@DateTime.Now</p>
<p>@DateTime.IsLeapYear(2016)</p>
    }
</div>
</body>
</html>